pytho tutorial

Tupplels in python

In [1]:
## Tupple are immutable list and cannot be changed in any way once it is ceated.
#  Tupple are defined in the same as way as list
#  tupple are orderd indexed collection of data.
#   similar to string indecies the first value of in the tupple will have the index [0] the seconed value is [1].
#    negative indices are counted from thee end of the tupple just like list.
#  tupple also has the structuere  where commas seperate value .
#   tupple can store duplicate value.
#   tupple allow you store sevreal data items includig string integer float in one variable.

In [4]:
tuple_1 =("hello python",1,1,3,4,4,5,2,True,False,32,[1,2,3],{"a",3,"B",8},(0,1))
tuple_1

('hello python',
 1,
 1,
 3,
 4,
 4,
 5,
 2,
 True,
 False,
 32,
 [1, 2, 3],
 {3, 8, 'B', 'a'},
 (0, 1))

In [5]:
type(tuple_1)

tuple

In [6]:
len(tuple_1)

14

indexes

In [13]:
tuple_1 =("hello python",1,1,3,4,4,5,2,True,False,32,[1,2,3],{"a",3,"B",8},(0,1))
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])

hello python
1
1
(0, 1)
{8, 3, 'a', 'B'}
[1, 2, 3]

In [1]:
tuple_1 =("hello python",1,1,3,4,4,5,2,True,False,32,[1,2,3],{"a",3,"B",8},(0,1))
print(type(tuple_1[0]))
print(type(tuple_1[1]))
print(type(tuple_1[2]))
print(type(tuple_1[-1]))
print(type(tuple_1[-2]))
print(type(tuple_1[-3]))

<class 'str'>
<class 'int'>
<class 'int'>
<class 'tuple'>
<class 'set'>
<class 'list'>

concatenation of tupple

tuple_2 = tuple_1+ ("hello python",1,2,3)
tuple_2

repitation of tupple

In [3]:
rep_tup = (1,2,3)
rep_tup*2

(1, 2, 3, 1, 2, 3)

membership

In [6]:
rep_tup=(1,2,3,4)
print(2 in rep_tup)
print( 2 not in rep_tup)
print(5 in rep_tup)
print(5 not in rep_tup)

True
False
False
True

iteration

In [7]:
rep_tup = (1,2,3)
for i in rep_tup:
    print(i)

1
2
3

cmp() function

In [11]:
# it is to compare two tupple and return TRue or False
def cmp(t1,t2):
    return bool(t1>t2)-bool(t1<t2)
def cmp(t3,t4):
    return bool(t3>t4)-bool(t3<t4)
def cmp(t5,t6):
    return(t5>t6)-bool(t5<t6)
t1= (1,2,3)
t2= (2,4,6)

t3 = (5,)
t4 = (4,)

t5 = 3.14
t6 = 3.14

print(cmp(t1,t2))
print(cmp(t3,t4))
print(cmp(t5,t6))

-1
1
0

min() function

In [12]:
rep_tup = (1,2,3)
min(rep_tup)

1

max() function

In [14]:
max(rep_tup)

3

tup(seq) function

In [16]:
# it convert a specific sequance to a tuple
seq = "Pakistan"
tuple(seq)

('P', 'a', 'k', 'i', 's', 't', 'a', 'n')

slicing()

In [18]:
# to obtain a new tuple from the crunt tuple the slicing methode is used.
tuple_1 =("hello python",1,1,3,4,4,5,2,True,False,32,[1,2,3],{"a",3,"B",8},(0,1))
tuple_1[2:9]

(1, 3, 4, 4, 5, 2, True)

In [19]:
tuple_1 =("hello python",1,1,3,4,4,5,2,True,False,32,[1,2,3],{"a",3,"B",8},(0,1))
tuple_1[-4:-1]

(32, [1, 2, 3], {3, 8, 'B', 'a'})

In [20]:
len(tuple_1)

14

In [22]:
tuple_3 = (3,34,78,90,1,34,5)
sorted(tuple_3)

[1, 3, 5, 34, 34, 78, 90]

In [1]:
nested_tuple= ("biotechnology",(0,5),("farmentation","ethanol"),(3.14,"pi",(1.618,"golden ratio")))
nested_tuple

('biotechnology',
 (0, 5),
 ('farmentation', 'ethanol'),
 (3.14, 'pi', (1.618, 'golden ratio')))

In [3]:
print("item 0 of nested tuple:" ,nested_tuple[0])
print("item 0 of nested tuple:" ,nested_tuple[1])
print("item 0 of nested tuple:" ,nested_tuple[2])
print("item 0 of nested tuple:" ,nested_tuple[3])

item 0 of nested tuple: biotechnology
item 0 of nested tuple: (0, 5)
item 0 of nested tuple: ('farmentation', 'ethanol')
item 0 of nested tuple: (3.14, 'pi', (1.618, 'golden ratio'))

In [6]:
print("item 0 of nested tuple:",nested_tuple[1][0])
print("item 0 of nested tuple:",nested_tuple[1][1])
print("item 0 of nested tuple:",nested_tuple[2][0])
print("item 0 of nested tuple:",nested_tuple[2][1])
print("item 0 of nested tuple:",nested_tuple[3][0])
print("item 0 of nested tuple:",nested_tuple[3][1])
print("item 0 of nested tuple:",nested_tuple[3][2])


print("item 0 of nested tuple:",nested_tuple[3][2][0])
print("item 0 of nested tuple:",nested_tuple[3][2][1])

item 0 of nested tuple: 0
item 0 of nested tuple: 5
item 0 of nested tuple: farmentation
item 0 of nested tuple: ethanol
item 0 of nested tuple: 3.14
item 0 of nested tuple: pi
item 0 of nested tuple: (1.618, 'golden ratio')
item 0 of nested tuple: 1.618
item 0 of nested tuple: golden ratio

tupple are immuted

In [7]:
tuple_4 = (1,2,4,6)
tuple_4[0] = 9
print(tuple_4)

TypeError: 'tuple' object does not support item assignment

In [9]:
tuple_4 = (1,2,3,4,5)
print("before deleting tuple",tuple_4)
del tuple_4

before deleting tuple (1, 2, 3, 4, 5)

# count method()

In [12]:
# This methode returns the number of item an otem an occurs in a tuple.
tuple5=(1,1,2,3,4,4,4,5,5,6,7)
tuple5.count(4)

3

index method()

In [15]:
# it return index of the first occurence of the specified value in a tuple.
tuple6 = (1,2,3,4,5,6,6,77,7,7)
print(tuple6.index(5))
print(tuple6.index(3))
print(tuple6.index(2))

4
2
1

### one element tuple()

# if a tuple include only one element you shuold put a comma after the element other wise it si not condsiderd as tuple.
tup5=(0)
tup5
type(tup5)

In [19]:
tup5=(0,)
tup5
type(tup5)

tuple

## python tutorial sets in python

In [20]:
x={}
type(x)

dict

In [21]:
y= set()
type(y)

set

In [22]:
set1= {"hello python ",3.14,1.618,"hello world",3.14,1.618,True,False,2022}
set1

{1.618, 2022, 3.14, False, True, 'hello python ', 'hello world'}

Converting list to set

In [23]:
nils =  {"hello python ",3.14,1.618,"hello world",3.14,1.618,True,False,2022}
set2= set(nils)
set2

{1.618, 2022, 3.14, False, True, 'hello python ', 'hello world'}

set operation

In [25]:
set3 =  set(["hello python ",3.14,1.618,"hello world",3.14,1.618,True,False,2022])
set3

{1.618, 2022, 3.14, False, True, 'hello python ', 'hello world'}

add() function

In [26]:
set3 = {"hello python ",3.14,1.618,"hello world",3.14,1.618,True,False,2022}
set3.add("hello python")
set3

{1.618,
 2022,
 3.14,
 False,
 True,
 'hello python',
 'hello python ',
 'hello world'}

update() function

In [27]:
x_set = {6,7,8}
x_set
x_set.update({3,4,5})
x_set

{3, 4, 5, 6, 7, 8}

remove() function

In [28]:
set3.remove("hello python")
set3

{1.618, 2022, 3.14, False, True, 'hello python ', 'hello world'}

discard() function

In [29]:
set3.discard(3.14)
set3

{1.618, 2022, False, True, 'hello python ', 'hello world'}

In [30]:
2022 in set3

True

logic operation in set

In [31]:
set4 =  set(["hello python ",3.14,1.618,"hello world",3.14,1.618,True,False,2022])
set5 =  set([3.14,1.618, True,False, 2022])
set4,set5

({1.618, 2022, 3.14, False, True, 'hello python ', 'hello world'},
 {False, True, 1.618, 3.14, 2022})

In [32]:
intersection = set4&set5
intersection

{False, True, 1.618, 3.14, 2022}

In [33]:
# use intersection function
set4.intersection(set5)

{False, True, 1.618, 3.14, 2022}

diffrence function

In [35]:
set4-set5

{'hello python ', 'hello world'}

In [36]:
set5-set4

set()

In [38]:
set4.difference(set5)

{'hello python ', 'hello world'}

In [39]:
set5.difference(set4)

set()

set comparison

In [40]:
set4>set5

True

In [41]:
set5>set4

False

In [42]:
set4==set5

False

union () function

In [43]:
set4.union(set5)

{1.618, 2022, 3.14, False, True, 'hello python ', 'hello world'}

issuperset(), issubset() function

In [44]:
set(set4).issuperset(set5)

True

In [45]:
set(set4).issubset(set5)

False

In [48]:
print(set([3.14]).issubset(set5))
print(set([3.14]).issubset(set4))
print(set4.issuperset(set5))
print(set5.issuperset(set4))

True
True
True
False

min() max() and sum function

In [49]:
a= [1,2,3,4,5]
b= [6,7,8,9,10]
print("the number of min a",min(a))
print("the min number of b:",min(b))
print("the max number of a",max(a))
print("the max numver of b",max(b))
print("the sum of a ",sum(a))
print("the sum of b",sum(b))

the number of min a 1
the min number of b: 6
the max number of a 5
the max numver of b 10
the sum of a  15
the sum of b 40

# no mutable sequance in set
set6 = {"python",1,2,3,[1,2,3]}
set6

In [51]:
set7 = {1,2,3,4}
set7[1]

TypeError: 'set' object is not subscriptable

copy the set

In [52]:
set8 = {1,3,5,7}
print(set8)
set9 = set8
print(set9)
set8.add(11)
print(set8)
print(set9)

{1, 3, 5, 7}
{1, 3, 5, 7}
{1, 3, 5, 7, 11}
{1, 3, 5, 7, 11}

clear the function

In [53]:
x= {0,1,1,2,3,4,5,6,7}
print(x)
x.clear()
x

{0, 1, 2, 3, 4, 5, 6, 7}

set()

pop() function

In [55]:
x= {0,1,1,2,2,3,4,5,6}
print(x)
x.pop()
x

{0, 1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}